.page-wrapper {
  margin: 1em 0;
}

.content {
  margin: 2em;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.two-columns-even {
  grid-template-columns: 1fr 1fr;
}

.two-columns-right-larger {
  grid-template-columns: 1fr 2fr;
}
